.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display:flex;
  position: relative;
  background-color:#F2F2F2;
  /*margin-bottom: 100px;
  overflow:hidden;*/
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  background-position: center;
  background-size: contain;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__logo {
  width: 183px;
  height: 32px;
  order: 1;
  left: 64px;
  height: 32px;
}





.title{
  width: 730px;
  border: 1px solid red;
}






.footer__logo {
  border: 1px solid red;
  width: 145px;
  height: 25px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.header__logo {
  border: 1px solid red;
  width: 183px;
  height: 32px;
  margin: 30px 65px;
  background-image: url(https://pictures.s3.yandex.net/logo_black.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
}

.flex-row{
  display:flex;
  justify-content:center;
  margin: 0 65px;
}
